import setuptools
from glob import glob

setuptools.setup(
    name="%LIB%",
    version="1.0.0",
    author_email="tetrite@gmail.com",
    description="Package build with cBinder",
    url="https://github.com/Tetrite/cBinder",
    packages=['%LIB%'],
    package_dir={'%LIB%': '%LIB%'},
    data_files=[('lib', glob('%LIB%/lib/*'))],
    include_package_data=True)