import setuptools

setuptools.setup(
    name="%LIB%",
    version="1.0.0",
    packages=['%LIB%'],
    package_data={'': ['lib/*']},
    install_requires=['cffi>=1.13.0'],
    python_requires='>=3.6',
    author_email="",
    description="Package build with cBinder",
    url="https://github.com/Tetrite/cBinder")
